* {
  font-family: Helvetica;
  /*Verdana*/
}
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: green;
}
h1 {
  padding: 25px 20px 0 20px;
  margin: 0;
}
nav ol {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
nav ol li {
  display: inline;
  font-size: 18px;
}
nav ol li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
nav ol li a {
  color: green;
  text-decoration: none;
}
nav ol li a:hover {
  color: darkgreen;
  text-decoration: underline;
}
.addtoany_list {
  display: block;
  margin-bottom: 15px;
}
div#block-addtoanybuttons {
  margin: 10px 16px;
}
#coh-page,
#coh-guide {
  padding: 25px;
}
#coh-page table,
#coh-guide table {
  border-collapse: collapse;
  border: 1px solid black;
}
#coh-page table tr:nth-child(even),
#coh-guide table tr:nth-child(even) {
  background-color: #f2f2f2;
}
#coh-page table tr:first-child td,
#coh-guide table tr:first-child td {
  background-color: green;
  color: white;
}
#coh-page table th,
#coh-guide table th,
#coh-page table td,
#coh-guide table td {
  padding: 8px;
  border: 1px solid black;
}
.guide-author {
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  background: #e0e0e0;
}
.compare-button-link,
a.more-details-link,
.improvement-details .field-unit-override a {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #0f8018;
  background: darkgreen;
  color: white;
  border-radius: 4px;
  margin: 5px 0;
  font-size: 12px !important;
}
.compare-button-link {
  font-size: 16px !important;
}
.homepage-info {
  text-align: center;
}
.homepage-info p {
  padding: 0 10px;
}
.content-node {
  display: flex;
}
.content-node .content-section {
  flex: 2;
  padding: 20px;
}
.content-node .content-section .body p {
  margin-top: 0px;
}
.content-node .section-wrapper {
  margin-top: 20px;
  border: 2px solid #5c5c5b;
  padding: 10px 10px 0px 10px;
  background: #eeeeee;
}
.content-node .section-wrapper > h2 {
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid #5c5c5b;
}
.content-node .section-item {
  border-bottom: 2px solid #5c5c5b;
}
.content-node .section-item:last-child {
  border-bottom: none;
}
.content-node .field-builds-in > div {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: space-evenly;
}
.content-node table.weapon-info-table {
  border-collapse: collapse;
}
.content-node table.weapon-info-table tr {
  border-bottom: 1px solid #5c5c5b;
}
.content-node table.weapon-info-table tr:last-child {
  border-bottom: none;
}
.content-node table.weapon-info-table td {
  padding: 0;
}
.content-node table.weapon-info-table td.name {
  width: 96px;
  text-align: left;
}
.content-node table.weapon-info-table td.number {
  text-align: left;
}
.content-node table.weapon-info-table td.number .field-weapon-number {
  width: 30px;
}
.content-node table.weapon-info-table td.number > div::before {
  content: 'x';
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.content-node .field-combat-advantage div,
.content-node .field-effective-against div {
  text-decoration: underline;
  margin-bottom: 10px;
}
.content-node .field-combat-advantage div:last-child,
.content-node .field-effective-against div:last-child {
  margin-bottom: 0px;
}
.content-node table.unit--improvements-table {
  width: 100%;
  border-collapse: collapse;
}
.content-node table.unit--improvements-table .field-image {
  text-align: center;
}
.content-node table.unit--improvements-table thead th {
  text-align: left;
  padding: 0;
  border-bottom: 2px solid #5c5c5b;
}
.content-node table.unit--improvements-table thead th.name {
  width: 120px;
  text-align: center;
  padding-bottom: 7px;
}
.content-node table.unit--improvements-table thead th.description {
  width: 220px;
}
.content-node table.unit--improvements-table thead th.dependencies > div {
  display: flex;
  justify-content: space-between;
}
.content-node table.unit--improvements-table tbody tr {
  padding: 0;
  border-bottom: 2px solid #5c5c5b;
}
.content-node table.unit--improvements-table tbody tr:last-child {
  border-bottom: none;
}
.content-node table.unit--improvements-table tbody tr td:first-child {
  padding: 5px 0;
}
.content-node table.unit--improvements-table tbody tr .field-improvement,
.content-node table.unit--improvements-table tbody tr .field-ability-node {
  margin: 0 auto;
  width: 64px;
}
.content-node table.unit--improvements-table tbody tr .improvement-details {
  font-size: 13px;
}
.content-node table.unit--improvements-table tbody tr .improvement-details .field-front-title,
.content-node table.unit--improvements-table tbody tr .improvement-details .field-title {
  font-size: 14px;
  font-weight: bold;
}
.content-node table.unit--improvements-table tbody tr .improvement-details .body p {
  margin: 0;
}
.content-node table.unit--improvements-table tbody tr .improvement-details .field-unit-override a {
  font-size: 15px;
}
.content-node table.unit--improvements-table tbody tr .improvement-details .field-unit-override a:hover {
  text-decoration: underline;
}
.content-node table.unit--improvements-table tbody tr .improvement-details em > div {
  display: inline-block;
}
.content-node .right-section {
  padding: 0px 20px;
  flex: 0 0 320px;
  min-width: 320px;
}
.content-node .right-section .field-badge-image,
.content-node .right-section .field-badge-weapon-image,
.content-node .right-section .field-image {
  display: flex;
  justify-content: center;
}
.content-node .field-unlocked-by-doctrine,
.content-node .field-producible-in-doctrines {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content-node .unlocked-by--available-in-doctrines {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-node .unlocked-by--available-in-doctrines.end {
  justify-content: flex-end;
}
.content-node .unlocked-by--available-in-doctrines .unlocked-by {
  margin-right: 20px;
}
.content-node .unlocked-by--available-in-doctrines .available-in-doctrines img {
  display: block;
}
.content-node .unlocked-by--available-in-doctrines .field-unlocked-by-improvement.field__items {
  display: flex;
}
.content-node .unlocked-by--available-in-doctrines .field-unlocked-by-doctrine.field__items {
  display: flex;
}
.content-node .field-weapon-improvements > div {
  border-bottom: 2px solid #5c5c5b;
  padding: 5px 0;
}
.content-node .field-weapon-improvements > div:last-child {
  border-bottom: none;
}
.content-node .field-weapon-improvements .paragraph--type--weapon-improvement.paragraph--view-mode--default {
  display: flex;
}
.content-node .field-weapon-improvements .paragraph--type--weapon-improvement.paragraph--view-mode--default .pictures {
  flex: 3;
  align-self: center;
}
.content-node .field-weapon-improvements .paragraph--type--weapon-improvement.paragraph--view-mode--default .pictures strong {
  font-size: 13px;
}
.content-node .field-weapon-improvements .paragraph--type--weapon-improvement.paragraph--view-mode--default .field-munitions {
  flex: 2;
  align-self: center;
}
.content-node .field-weapon-improvements .paragraph--type--weapon-improvement.paragraph--view-mode--default .details {
  flex: 6;
  align-self: center;
  font-size: 13px;
}
.content-node .field-weapon-improvements .paragraph--type--weapon-improvement.paragraph--view-mode--default .details .field-front-title,
.content-node .field-weapon-improvements .paragraph--type--weapon-improvement.paragraph--view-mode--default .details .field-title {
  font-weight: bold;
  padding: 5px 0;
}
.content-node .field-weapon-improvements .paragraph--type--weapon-improvement.paragraph--view-mode--default .details p {
  margin: 0;
  padding: 0;
}
.content-node .field-veterancy-items {
  /* vet item */
}
.content-node .field-veterancy-items > div {
  border-bottom: 2px solid #5c5c5b;
  padding: 5px 0;
}
.content-node .field-veterancy-items > div:last-child {
  border-bottom: none;
}
.content-node .field-veterancy-items .paragraph--type--vet-item.paragraph--view-mode--default {
  display: flex;
}
.content-node .field-veterancy-items .paragraph--type--vet-item.paragraph--view-mode--default .field-veterancy {
  flex: 1;
  align-self: center;
}
.content-node .field-veterancy-items .paragraph--type--vet-item.paragraph--view-mode--default .field-veterancy img {
  width: 45px;
  height: 45px;
}
.content-node .field-veterancy-items .paragraph--type--vet-item.paragraph--view-mode--default .field-xp {
  flex: 1;
  font-size: 13px;
  text-align: center;
  align-self: center;
}
.content-node .field-veterancy-items .paragraph--type--vet-item.paragraph--view-mode--default .details {
  flex: 4;
  margin: 0;
  padding: 0;
}
.content-node .field-veterancy-items .paragraph--type--vet-item.paragraph--view-mode--default .details .details-list {
  list-style: decimal;
}
.content-node .field-veterancy-items .paragraph--type--vet-item.paragraph--view-mode--default .details .field-vet-details {
  font-size: 13px;
}
.content-node .field-veterancy-items .paragraph--type--vet-item.paragraph--view-mode--default .details .field-vet-details p {
  padding: 0 10px;
}
.content-node .field-veterancy-items .paragraph--type--vet-item.paragraph--view-mode--default .details .field-er-allows {
  display: flex;
  font-size: 13px;
  justify-content: center;
}
.content-node .label-value {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.content-node .label-value label {
  text-align: center;
  align-self: center;
  flex: 1;
  padding: 0 5px;
}
.content-node .label-value .value-item {
  flex: 1;
}
.content-node .label-value .value-item .field-improvement-required .field-image {
  justify-content: flex-start;
}
.content-node .cost {
  display: flex;
  justify-content: center;
}
.content-node .cost .field-manpower,
.content-node .cost .field-fuel,
.content-node .cost .field-munitions,
.content-node .cost .field-capacity,
.content-node .cost .field-reinforce-cost {
  text-align: center;
}
.content-node .cost .field-manpower:before,
.content-node .cost .field-fuel:before,
.content-node .cost .field-munitions:before,
.content-node .cost .field-capacity:before,
.content-node .cost .field-reinforce-cost:before {
  display: block;
  margin-right: 0px;
}
.content-node.nation-node .section-wrapper:first-child {
  margin-top: 0px;
}
.content-node.nation-node .section-wrapper .section-item p {
  font-size: 14px;
}
.content-node.nation-node .building-node {
  padding: 10px;
  border: 2px dotted #5c5c5b;
  margin-bottom: 20px;
}
.content-node.nation-node .left-section {
  flex: 4;
  padding: 20px;
  min-width: initial;
}
.content-node.nation-node .left-section .left-section,
.content-node.nation-node .left-section .right-section,
.content-node.nation-node .left-section .content-section {
  padding: 0px;
}
.content-node.nation-node .right-section {
  flex: 2;
  padding: 20px;
  min-width: auto;
}
.content-node.nation-node .right-section .section-wrapper {
  margin-bottom: 10px;
}
.content-node.nation-node .nation {
  display: none;
}
.content-node.nation-node .building-node {
  display: block;
}
.content-node.nation-node .building-node .pictures {
  text-align: center;
}
.field-doctrine-items {
  margin-left: 5px;
}
.field-doctrine-items > div {
  margin-top: 10px;
  border-bottom: 2px solid #5c5c5b;
}
.field-doctrine-items > div:last-child {
  border-bottom: none;
}
.field-doctrine-items .doctrine-item {
  display: flex;
}
.field-doctrine-items .doctrine-item .left-side {
  /*flex: 1;*/
}
.field-doctrine-items .doctrine-item .left-side .cost-normal {
  margin-top: 5px;
  margin-bottom: 5px;
}
.field-doctrine-items .doctrine-item .left-side .cost-normal > div {
  margin-bottom: 5px;
}
.field-doctrine-items .doctrine-item .left-side .cost-normal > div:last-child {
  margin-bottom: 0px;
}
.field-doctrine-items .doctrine-item .right-side {
  /*flex: 1;*/
  padding-left: 18px;
}
.field-doctrine-items .doctrine-item .right-side .field-front-title {
  font-weight: bold;
}
.field-doctrine-items .doctrine-item .right-side .body {
  font-size: 14px;
  word-break: break-word;
}
.field-doctrine-items .doctrine-item .right-side .body p {
  margin-top: 5px;
}
.field-doctrine-items .field-image,
.doctrine-item-node .pictures .field-image {
  z-index: 9;
}
.field-doctrine-items .field-image img,
.doctrine-item-node .pictures .field-image img {
  display: block;
  -webkit-box-shadow: -1px 1px 6px 2px #000000;
  -moz-box-shadow: -1px 1px 6px 2px #000000;
  box-shadow: -1px 1px 6px 2px #000000;
}
.image-points-wrapper {
  position: relative;
}
.image-points-wrapper .field-activation-points {
  position: absolute;
  top: 22px;
  left: -10px;
  z-index: 10;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  background: green;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: 2px solid #000;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.35);
}
.doctrine-node.full .pictures {
  padding-bottom: 7px;
}
.doctrine-item-node .pictures {
  padding-bottom: 10px;
}
.commanders-view {
  padding: 20px;
}
.doctrine-items-list .views-row {
  margin-top: 5px;
  border-bottom: 2px solid #5c5c5b;
}
.doctrine-items-list .views-row:last-child {
  border-bottom: none;
}
.doctrine-items-list .doctrine-node.teaser {
  display: flex;
}
.doctrine-items-list .field-doctrine-items {
  display: flex;
}
.doctrine-items-list .field-doctrine-items > div {
  border-bottom: none;
  margin-left: 15px;
}
.doctrine-item-node.teaser {
  display: flex;
}
.doctrine-item-node.teaser .field-image {
  display: block;
}
.doctrine-item-node.teaser .views-element-container > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.doctrine-item-node.teaser .views-element-container > div .views-row {
  background: #fff;
  margin: 3px 3px 15px;
  border: 2px solid #5c5c5b;
  padding: 7px 7px 14px;
}
.doctrine-item-node.teaser .views-element-container .doctrine-node.teaser {
  display: flex;
  flex-direction: column;
}
.doctrine-item-node.teaser .views-element-container .field-doctrine-items {
  display: block;
  margin-left: 5px;
}
.doctrine-item-node.teaser .views-element-container .field-doctrine-items > div {
  margin-left: 0px;
}
.field-related-units,
.field-related-buildings,
.field-produce-base-buildings,
.field-builds-by {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.produce-units-wrapper {
  margin-left: 30px;
}
.coi-homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.coi-homepage .views-row {
  margin-bottom: 15px;
}
.coi-homepage .views-row div {
  text-align: center;
}
/* navbar dropdown */
navbar {
  display: flex;
  justify-content: space-between;
  background: #ccc;
}
navbar .navbar-right {
  line-height: 41px;
}
navbar > div {
  display: flex;
}
navbar > div nav#block-mainnavigation > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
navbar > div nav#block-mainnavigation > ul li {
  position: relative;
}
navbar > div nav#block-mainnavigation > ul li a {
  display: block;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  background: #5c5c5b;
  border: 1px solid #8d6e63;
}
navbar > div nav#block-mainnavigation > ul li a.is-active,
navbar > div nav#block-mainnavigation > ul li a:hover {
  background: green;
}
navbar > div nav#block-mainnavigation > ul li ul {
  /*margin: 20px 0 0 0;*/
  padding: 0;
  list-style: none;
  position: absolute;
  top: 40px;
  left: 0px;
  width: 180px;
  z-index: 20;
  display: none;
}
navbar > div nav#block-mainnavigation > ul li:hover ul {
  display: block;
}
navbar > div div#block-languagedropdownswitcher .chosen-single {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}
navbar > div div#block-languagedropdownswitcher .chosen-drop .chosen-results li {
  font-size: 18px;
  padding: 12px 6px;
}
navbar > div div#block-languagedropdownswitcher .chosen-container-single .chosen-single div {
  top: 7px;
}
navbar .mobile-toggle {
  display: none;
  flex: 0 0 40px;
  min-width: 40px;
  font-size: 36px;
  vertical-align: middle;
  color: #fff;
  background: #444;
  text-align: center;
  height: 44px;
  margin-left: 10px;
}
@media all and (max-width: 800px) {
  navbar > div nav#block-mainnavigation {
    display: none;
  }
  navbar > div nav#block-mainnavigation > ul {
    display: initial;
  }
  navbar > div nav#block-mainnavigation > ul li ul {
    display: block;
    position: initial;
  }
  navbar > div nav#block-mainnavigation > ul li ul li {
    padding-left: 10px;
  }
  navbar > div nav#block-mainnavigation.open {
    display: block;
  }
  navbar > div .mobile-toggle {
    display: block;
  }
  .content-node table.unit--improvements-table {
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  .content-node table.unit--improvements-table thead,
  .content-node table.unit--improvements-table tbody,
  .content-node table.unit--improvements-table th,
  .content-node table.unit--improvements-table td,
  .content-node table.unit--improvements-table tr {
    display: block;
  }
  .content-node table.unit--improvements-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .content-node table.unit--improvements-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
  }
  .content-node table.unit--improvements-table td:nth-of-type(1):before {
    content: "";
  }
  .content-node table.unit--improvements-table td:nth-of-type(2):before {
    content: "";
  }
  .content-node table.unit--improvements-table td:nth-of-type(3):before {
    content: "";
  }
  .content-node table.unit--improvements-table td:nth-of-type(4):before {
    content: "";
  }
}
.content-node .section-wrapper.specification {
  background: #fff;
}
.content-node .section-wrapper.specification li {
  overflow-wrap: break-word;
  /*a {
      color: #12c77a;
    }*/
  padding-bottom: 10px;
}
@media all and (max-width: 800px) {
  .squad-table th,
  .squad-table td {
    word-break: break-all;
    font-size: 11px;
  }
  .squad-table th > div,
  .squad-table td > div {
    font-size: 11px;
  }
  .content-node {
    flex-direction: column-reverse;
  }
  .views-element-container .commanders-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .views-element-container .commanders-view .views-row {
    background: #fff;
    margin: 3px 3px 15px;
    border: 2px solid #5c5c5b;
    padding: 7px 7px 14px;
  }
  .views-element-container .commanders-view .views-row:last-child {
    border-bottom: 2px solid #5c5c5b;
  }
  .views-element-container .commanders-view .doctrine-node.teaser {
    display: flex;
    flex-direction: column;
  }
  .views-element-container .commanders-view .field-doctrine-items {
    display: block;
    margin-left: 5px;
  }
  .views-element-container .commanders-view .field-doctrine-items > div {
    margin-left: 0px;
  }
  .doctrine-item-node {
    display: flex;
  }
  .doctrine-item-node .field-image {
    display: block;
  }
  .doctrine-item-node .views-element-container > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .doctrine-item-node .views-element-container > div .views-row {
    background: #fff;
    margin: 3px 3px 15px;
    border: 2px solid #5c5c5b;
    padding: 7px 7px 14px;
  }
  .doctrine-item-node .views-element-container > div .views-row:last-child {
    border-bottom: 2px solid #5c5c5b;
  }
  .doctrine-item-node .views-element-container .doctrine-node.teaser {
    display: flex;
    flex-direction: column;
  }
  .doctrine-item-node .views-element-container .field-doctrine-items {
    display: block;
    margin-left: 5px;
  }
  .doctrine-item-node .views-element-container .field-doctrine-items > div {
    margin-left: 0px;
  }
}
.per-one-member,
.capacity,
.field-manpower,
.field-fuel,
.field-munitions,
.field-capacity,
.field-reinforce-cost {
  font-size: 15px;
}
.per-one-member:before,
.capacity:before,
.field-manpower:before,
.field-fuel:before,
.field-munitions:before,
.field-capacity:before,
.field-reinforce-cost:before {
  content: '';
  font-size: 0;
  display: inline-block;
  background-size: cover;
  resize: both;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  vertical-align: middle;
}
.per-one-member:before {
  margin-right: 0px;
}
.field-manpower:before,
.field-reinforce-cost:before,
.per-one-member:before {
  background-image: url("../images/manpower.png");
}
.field-fuel:before {
  background-image: url("../images/fuel.png");
}
.field-munitions:before {
  background-image: url("../images/munitions.png");
}
.field-capacity:before,
.capacity:before {
  background-image: url("../images/capacity.png");
}
.squad-table {
  position: relative;
  border: 1px solid grey;
  margin: 20px;
}
.squad-table .image-column {
  position: relative;
}
.squad-table .image-column .field-badge-weapon-image {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #000;
  padding-right: 3px;
  width: 47px;
  border-radius: 10px;
}
.squad-table .image-column .field-badge-image {
  position: absolute;
  top: 2px;
  left: 2px;
  background: #000;
  padding: 0px;
  width: 36px;
  border-radius: 10px;
}
.squad-table .title {
  max-width: 140px;
}
.squad-table .cost {
  min-width: 60px;
}
.squad-table th,
.squad-table td {
  padding: 2px;
  border: 1px solid grey;
  text-align: center;
}
.squad-table th.title,
.squad-table td.title {
  min-width: 40px;
}
.squad-table th {
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
.squad-table th.cost,
.squad-table td.cost,
.squad-table th.title,
.squad-table td.title {
  text-align: left;
}
